#navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#moi_description{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#moi_description > img{
  width: 20%;
}
#presentation{
  width: 65%;
}

#page_content {
  display: flex;
  justify-content: center;    /* horizontal center */
  align-items: center;
  width: 100%;
}

#contacts {
  width: 40%;
}

#projets {
  width: 65%;
}


.media_icon {
  width: 32px;
  height: 32px;
  color: white;
  padding-right: 5px;
}

.media_link{
  border: 2px #005cb8 solid;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 5px;
}

.project_bloc{
  display: flex;
  align-items: center;
  border: 2px #005cb8  solid;
  border-radius: 5px;
  height: auto;
  width: 100%;
  margin-top: 10px;
}

#hobbies {
  width: 65%;
}

.hobby_bloc{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px #005cb8  solid;
  border-radius: 5px;
  height: auto;
  width: 100%;
  margin-top: 10px;
}

#projets{
  display: flex;
  flex-direction: column;
}



.project_bloc{
  display: flex;
  flex-direction: row;
  padding-left: 3%;
  padding-right: 3%;
}

.project_bloc:nth-child(2n){
  flex-direction: row-reverse;
}



.project_description{
  width: 60%;
  height: 100%;
}

.project_image{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
}

.project_image > img {
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
  object-fit: contain; /* ensures it fits within the container without distortion */
}

.hobby_bloc{
  width: 100%;
  padding: 10px;
}

.exemples_hobbies{
  display: flex;
  flex-direction: row;
}

.exemple_current_hobby{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.exemple_current_hobby:nth-child(2n){
  flex-direction: column-reverse;
}

.exemple_current_hobby > img{
  width: 80%;
  height: 80%;
}

#logo_AL_navbar{
  width: 64px;
  height: 64px;
}